@use "../../scss/variables.scss" as v;

@mixin buttonStyle {
  background: v.$secondary-color;
  width: 128px;
  height: 48px;
  border-radius: 32px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;

  color: v.$primary-color;

  border: 5px solid transparent;

  &:hover {
    cursor: pointer;
    border-color: v.$primary-color-variant;
  }
}
