@use "variables" as v;

@use "../components/alert/alert.styles.scss" as layoutStyle;
@use "../components/imageContainer/imageContainer.styles.scss" as imageHeroStyle;
@use "../components/contentContainer/contentContainer.styles.scss" as contentStyle;

* {
  box-sizing: border-box;
}
body {
  background: v.$primary-color;
}
h1 {
  padding: 0;
  margin: 0;
}

.bg-container {
  margin: 96px auto;
  max-width: 1400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: v.$great-gap;
  @media only screen and (max-width: v.$great-resolution) {
    & {
      gap: v.$medium-gap !important;
      padding: v.$depend-padding;
    }
  }
  .sm-container {
    max-width: 505px;
    max-height: 330px;
  }

  .image-hero {
    @include imageHeroStyle.imageHeroStyle;
  }

  .content {
    @include contentStyle.contentStyle;
  }
}
.layout {
  @include layoutStyle.layoutStyle;
  display: none;
}
