@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

$font: "Roboto", sans-serif;
$small-font: 16px;
$big-font: 42px;
$bold-font: 700;
$normal-font: 300;

$primary-color: #fff;
$secondary-color: #e4c1ae;

$primary-color-variant: rgb(119, 238, 212);
