@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

$font: "Roboto", sans-serif;
$small-font: 16px;
$big-font: 42px;
$bold-font: 700;
$semi-bold-font: 600;
$normal-font: 300;

$primary-color: #fff;
$secondary-color: #e4c1ae;

$primary-color-variant: rgb(111, 216, 230);

$great-gap: 96px;
$big-gap: 32px;
$medium-gap: 24px;

$line-height-big: 150%;
$line-height-medium: 120%;

$great-resolution: 990px;
$big-resolution: 720px;
$medium-resolution: 420px;

$close-size: 12px;
$depend-padding: 5vw;
$depend-gap: 2vh;
